{% extends 'layout/default.html'%}
{% block title %} Agence - {{ super() }}{% endblock %}

{% block body %}
    <div class="agency-header">
        <div class="agency-header-content">
            <div class="agency-content">
                <img src="/static/images/rec21-image-logo.png" alt="">
                <h2> 
                   L'AGENCE 
                </h2>
                <hr>
                <p><strong>" LA PASSION EST UNE FORCE "</strong></p>
            </div>    
        </div>
    </div>

    <div class="agency-skills">
        <div class="agency-skills-card">
            <div class="agency-skills-card-content">
                <div class="agency-skills-card-content-title">
                    <img class="icon-width" src="/static/images/icons/marketing.png" alt="">
                    <h3><strong>CE QUE NOUS SOMMES</strong></h3>
                </div>
                <p>
                REC21 est l'agence de conseil indépendante et professionnelle spécialiste <br>des médias, 
                de la produciton audiovisuelle et de la création artistique.
                </p>
            </div> 
            <img src="/static/images/agency-artistique.png" alt="" class="agency-skills-card-content-img">
        </div>
        <div class="agency-skills-card">
            <img src="/static/images/agency-artistique.png" alt="" class="agency-skills-card-content-img-2">
            <div class="agency-skills-card-content">
                <div class="agency-skills-card-content-title">
                    <img class="icon-width" src="/static/images/icons/programmes.png" alt="">
                    <h3><strong>CE QUE NOUS FAISONS</strong></h3>
                </div>
                <p>
                L'agence REC21 place l'humain au coeur de votre stratégie. <br>
                Votre marque est unique, REC21 réalise avec vous une identité sur mesure. <br>
                REC21 vous accompagne avec des solutions concrètes et performantes.
                </p>
            </div> 
        </div>
    </div>

    <div class="expertise txt-center white-color">
        <h3>#</h3>
        <p>
            <strong>Ce sont nos expertises :</strong> <br>
            #Media #Radio #Musique #Digital #Marque #Broadcast
        </p>
        <p class="expertise-endline"><strong>REC21 collabore avec un réseau d'experts professionnels</strong></p>
    </div>

    <div class="devise txt-center white-color">
        <img class="icon-width" src="/static/images/icons/devise.png" alt="">
        <p>
            <strong>C'est notre devise</strong> <br>
            La passion est une force, l'agence REC21 regarde, écoute et crée !
        </p>
    </div>

    <div class="agency-whos txt-center">
        <div class="agency-whos-content">
            <img src="static/images/avatar.png" alt="">
            <h3 class="red-color">Claude-Eric Roy</h3>  
            <h4>Fondateur</h4>
            <div class="agency-whos-content-width">
                <p> 
                    Dirigeant, directeur d'antenne en station nationale, <br>
                    mais aussi animateur, programmateur, et producteur. <br>
                    Claude-Éric ROY a occupé tous les postes opérationnels et stratégiques <br>
                    de la radio en local et national avec de nombreux succès.
                </p>
                <p>
                    Développement des audiences et des marques, <br>
                    Management de mornings, <br>
                    Conception de bouquets digitaux et de podcasts, <br>
                    Direction artistique et marketing, <br>
                    Création d'évènements culturels avec l'industrie musicale et les régies, <br>
                    Relations avec les décideurs et institutionnels au coeur des régions.
                </p>
                <p>
                    Professionel, créatif et dynamique, <br>
                    Claure-Éric ROY est passionné par les médias, la radio, la musique, <br>
                    les artistes, le son, le digital et les nouveaux modes de consommations.
                </p>
            </div> 
            <hr>
            <div class="agency-whos-quote">
                <h2 class="agency-whos-content-h2 red-color">
                    <span><i class="fas fa-quote-right black-color"></i></span><br>
                    AVOIR CONFIANCE,<br>
                    C'EST SE PARER, SE RECONTRER
                </h5>
                <h2 class="agency-whos-content-h2 red-color">
                    <span><i class="fas fa-quote-right black-color"></i></span><br>
                    C'EST EN ÉQUIPE QUE SE FONT <br>
                    LES PLUS BEAUX SUCCÈS
                </h2>
            </div>
        </div> 
    </div>
    <div class="experience txt-center white-color">
        <p>
            Avec l'agence <strong>REC21</strong>, profitez de toute l'expérience <br>
            et des compétences au service de votre réussite.
        </p>
    </div>
    <div class="presentation agence-presentation">
        <h3>L'Agence <strong class="">REC21</strong>  accompagne vos projets</h3>
        <hr>
        <div class="presentation-cards white-color">
            <div class="presentation-solo-card agence-presentation-img01">
                <img class="icon-width" src="/static/images/icons/podcasts_white.png" alt="creation de podcasts">
                <strong><p>LA CRÉATION DE <br>RADIOS DIGITALES</strong></p>
            </div>
            <div class="presentation-solo-card agence-presentation-img02">
                <img class="icon-width" src="/static/images/icons/direction_artistique_white.png" alt="direction artistique">
                <strong><p>LA DIRECTION <br>ARTISTIQUE <br></strong></p>
            </div>
            <div class="presentation-solo-card agence-presentation-img03">
                <img class="icon-width" src="/static/images/icons/radios_digitales_white.png" alt="radios digitiles">
                <strong><p>LA CRÉATION DE PODCASTS <br></strong></p>
            </div>
        </div>
    </div>        

    <div class="partners txt-center ">
        <h2>Ils nous font confiance</h2>
        <img src="static/images/partenaires.jpg" alt="partenaires selector zetta RCS">
    </div>

    <div class="agence-work-together txt-center">
        <h3>Travaillons ensemble</h3>
        <p>
            Conception de programmes et contenus audio <br>
            Expertise musicale, Marketing, Création d'identité, Communication,<br>
            Développement digital, Organisation et Coaching
        </p>
        <p>L'Agence <strong><span class="red-color">REC21</span></strong> vous conseille pour la réussite de votre projet.</p>
    </div>
{% endblock %}
