{% extends 'layout/default.html'%}
{% block title %} En savoir plus - {{ super() }}{% endblock %}

{% block body %}
<div class="agency-content-page">
  <div class="agency-subtitle font-lighter">
    <p><em>« REC21 est une agence de conseil média indépendante et professionnelle. »</em></p>
  </div>
  <div class="agency-skills">
    <div class="agency-skills-img center-img">
      <img src="static/images/app.jpg" alt="">
    </div>
    <div class="agency-skills-txt font-lighter">
      <h3>Ce que nous faisons:</h3>
      <p>De la conception de programmes et contenus performants à l’expertise musicale, de la création artistique et éditoriale
      au marketing et à la communication, de l’organisation et du coaching de votre équipe à l’étude de marché
      concurrentielle… Votre marque est unique, l’agence REC21 crée avec vous une identité sur mesure !</p>
    </div>
  </div>
  <div class="agency-list">
    <div class="agency-skills-txt font-lighter">
      <p>L’agence REC21 vous accompagne dans la réussite de votre projet avec des solutions concrètes, efficaces et
      opérationnelles.<br>
      L’agence REC21 développe et accompagne de nombreux tel que :
      <ul>
        <li>La création de podcasts</li>
        <li>La création d’une radio digitale</li>
        <li>Le management artistique</li>
      </ul>
      <div class="agency-skills-img center-img">
        <img src="static/images/app.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="presentation">

</div>
{% endblock %}
