{% extends 'layout/default.html'%}
{% block title %} Contact - {{ super() }}{% endblock %}

{% block body %}
    <div class="contact-wrapper txt-center">

        <div class="contact-logo">
            <img src="static/images/REC21_GRADIENTnotagline.png" alt="Logo_rec21">
        </div>
        <div class="contact-email">
            <a href="mailto:contact@rec21.fr">contact@rec21.fr</a>
        </div>
        <div class="contact-networks-logos">
            <ul class="inline">
                <li><a href="https://www.linkedin.com/in/claude-eric-roy/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/ClaudeEricRoy" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    {% endblock %}
