{% extends 'layout/default.html' %}

{% block body %}
  <div class="wrapper-header">
    <div class="header-content">
      <div class="header-content-image-logo">
        <img src="static/images/rec21-image-logo.png" alt="">
      </div>
      <div class="header-content-title">
        <h1>REGARDER, ÉCOUTER, CRÉER</h1>
        <hr>
        <h2><span class="red-color">REC21</span> est une agence de conseil média</h2>
      </div>
      <div class="header-content-btn poppins">
        <a href="/">CONTACT</a>
      </div>
    </div>
  </div>
  <div class="header-scrollbar">
    <i class="fas fa-angle-down"></i>
  </div>

  <div class="agency">
    <div class="agency-image-logo">
      <img src="static/images/rec21-image-logo.png" alt="">
    </div>
    <div class="agency-headline poppins">
      <h2>L'AGENCE</h2>
    </div>
    <div class="agency-cards">
      <div class="agency-solo-card">
        <img class="icon-width" src="/static/images/icons/marketing.png" alt="">
        <p>De la création artistique et éditoriale ou marketing, à la communication.</p>
      </div>
      <div class="agency-solo-card">
        <img class="icon-width" src="/static/images/icons/programmes.png" alt="">
        <p>De la conception de programmes et contenus performants, à l'expertise musicale.</p>
      </div>
      <div class="agency-solo-card">
        <img class="icon-width" src="/static/images/icons/coaching.png" alt="">
        <p>De l'organisation et du coaching de votre équipe, à l'étude de marché concurrentielle.</p>
      </div>
    </div>
    <p><strong>Votre marque est unique, l'Agence <span class></span></strong></p>
  </div>

  <div class="hashtags poppins">
    <h2>L'AGENCE <span class="red-color">REC21</span></h2>
    <h3>L'expertise #Media #Radio #Musique #Digital #Marque #Broadcast</h3>
  </div>

  <div class="flash txt-center">
    <h2 class="poppins">À LA UNE !</h2>
    <p><span>Vous êtes une radio locale, régionale, nationale ou digitale.</span></p>
    <p><span>Vous voulez le regard objetif d'un professionnelle et une relation de confiance.</span></p>
    <p><span>Vous souhaitez être accompagné avec des propositions opérationnelles et efficaces.</span></p>
    <div class="flash-btn">
      <a href="/">DEMARRER UN PROJET</a>
    </div>
  </div>

  <div class="presentation">
        <h3>L'Agence <strong class="">REC21</strong>  ccompagne vos projets</h3>
        <hr>
        <div class="presentation-cards">
            <div class="presentation-solo-card">
                <img class="icon-width" src="/static/images/icons/radios_digitales.png" alt="radios digitales">
                <p>LA CRÉATION DE RADIOS DIGITALES  <br>
            </div>
            <div class="presentation-solo-card">
                <img class="icon-width" src="/static/images/icons/direction_artistique.png" alt="direction artistique">
                <p>LA DIRECTION <br>ARTISTIQUE <br></p>
            </div>
            <div class="presentation-solo-card">
                <img class="icon-width" src="/static/images/icons/podcasts.png" alt="creation de podcasts">
                <p>LA CRÉATION DE PODCASTS <br></p>
            </div>
        </div>
    </div>
  <div class="partners txt-center poppins">
    <h2>Ils nous font confiance</h2>
    <p>ICI LES LOGOS</p>
  </div>

  <div class="citation txt-center">
    <h2 class="poppins">
      <span id="quote-size">"</span><br>
      LA PASSION EST UNE FORCE, L'AGENCE REC21,<br>
      REGARDE, ÉCOUTE, CRÉE
    </h2>
    <p><em>Claude-Eric Roy</em></p>
  </div>

  <div class="work-together txt-center">
    <h3>Travaillons ensemble</h3>
    <p class="font-lighter">
      Consulting média & radio, conception de stratégie,<br>
      création d'identité et de marque, développement digital,<br>
      communication, marketing...
    </p>
    <p>L'Agence <span class="red-color">REC21</span> vous conseille pour la réussite de votre projet.</p>
  </div>
{% endblock %}
