{% extends 'layout/default.html'%}
{% block title %} Mentions légales - {{ super() }}{% endblock %}

{% block body %}
    <div class="mentions-wrapper">
        <div class="mentions-header txt-center">
            <h1>REC21</h1>
            <a href="http://www.rec21.fr" target="_blank">www.rec21.fr</a>
            <h2>Mentions Légales Obligatoires</h2>
            <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228" target="_blank">https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228</a>
        </div>
        <div>
            <p>
                REC21 <br>
                SAS au capital de 5000€ <br>
                56, avenue Pierre Grenier <br>
                92100 Boulogne-Billancourt / France <br>
                RCS Nanterre 843 789 132 <br>
                E-mail : contact@rec21.fr <br>
                Téléphone : 06.xx.xx.xx.xx <br>
            </p>


            <p>
                Directeur de la publication : Claude-Eric ROY
            </p>

            <p>
                Hébergeur : <br>
                OVH <br>
                2, rue Kellermann <br>
                59100 Roubaix / France <br>
                RCS Lille Métropole 424 761 419 00045 <br>
                <a href="www.ovh.com/fr/" target="_blank">www.ovh.com/fr/</a> <br>
            </p>


            <p>
                Développement : François RABANEL – rabanel.francois@gmail.com
            </p>
        </div>
    </div>
{% endblock body %}
