{% extends 'layout/default.html'%}
{% block title %} Mentions légales - {{ super() }}{% endblock %}

{% block body %}
    <div class="mentions-wrapper">
        <p>
            <strong>REC21</strong> <br>
            SAS au capital de 5000€ <br>
            56, avenue Pierre Grenier <br>
            92100 Boulogne-Billancourt / France <br>
            RCS Nanterre 843 789 132 <br>
            E-mail : <a href="mailto:contact@rec21.fr">contact@rec21.fr</a> <br>
        </p>


        <p>
           <strong>Directeur de la publication</strong> : Claude-Eric ROY
        </p>

        <p>
            <strong>Hébergeur</strong> : <br>
            OVH <br>
            2, rue Kellermann <br>
            59100 Roubaix / France <br>
            RCS Lille Métropole 424 761 419 00045 <br>
            <a href="http://www.ovh.com/fr/" target="_blank">www.ovh.com/fr/</a> <br>
        </p>


        <p>
            <strong>Développement</strong> : François RABANEL
        </p>
    </div>
{% endblock body %}
