{% extends 'layout/default.html'%}
{% block title %} Radio - {{ super() }}{% endblock %}

{% block body %}
    <div class="radio-header">
        <div class="radio-header-content">
            <div class="radio-content">
                <img src="/static/images/rec21-image-logo.png" alt="logo-rec21">
                <h2> 
                   RADIO 
                </h2>
                <hr>
                <h3>
                    <strong>
                         LOCALE, RÉGIONALE, NATIONALE OU DIGITALE
                    </strong>
                </h3>
                <p>
                Vous voulez le regard objectif d'un <br>
                professionnel et une relation de confiance.
                </p>
                <p>
                Vous souhaitez être accompagné <br>
                avec des propositions opérationnelles et efficaces.
                </p>
            </div>    
        </div>
    </div>
    <div class="ecosysteme txt-center white-color">
        <p>
            <span>
                <strong>
                    L'agence REC21 vous offre sa vision à travers la connaissance du marché
                </strong> 
            </span>
        </p>
        <p>
            <span>
                <strong>
                    et de l'écosystème des radios d'aujourd'hui ... de demain !
                </strong>
            </span>       
        </p>        
    </div>
    <div class="advice-01 white-color">
        <div class="advice-01-card">
            <img src="/static/images/rec21-image-logo.png" alt="logo-rec21">
        </div>
        <div class="advice-01-card">
            <h3>REC21 Conseil N°1 :</h3>
            <p>L'écoute, l'échange et l'analyse.</p>
        </div>
    </div>

    <div class="meet txt-center margin-0">
        <h3 class="font-lighter space-letter">Rencontrons-nous pour :</h3>
        <hr>  
        <div class="meet-cards">
            <div class="meet-card">
                <img class="icon-width" src="/static/images/icons/receuillir.png" alt="">
                <h4>Recueillir</h4>
                <p>vos besoins <br>et vos envies</p>
            </div>
            <div class="meet-card">
                <img class="icon-width" src="/static/images/icons/echanger.png" alt="">
                <h4>Échanger</h4>
                <p>avec votre direction <br>et vos équipes</p>
            </div>
            <div class="meet-card">
                <img class="icon-width" src="/static/images/icons/realiser.png" alt="">
                <h4>Réaliser</h4>
                <p>une expertise de <br>vos programmes</p>
            </div>
            <div class="meet-card">
                <img class="icon-width" src="/static/images/icons/analyser.png" alt="">
                <h4>Analyser</h4>
                <p>vos audiences et <br>votre positionnement </p>
            </div>
        </div>
    </div>

    <div class="analyse txt-center">
        <p>
            <span>
                <strong>
                    L'agence REC21 vous propose une analyse factuelle
                </strong> 
            </span>
        </p>
        <p>
            <span>
                <strong>
                    "forces, faiblesses, opportunités et menaces" avec des solutions concrètes.
                </strong>
            </span>       
        </p>        
    </div>
    <div class="advice-02 white-color">
        <div class="advice-01-card">
            <img src="/static/images/rec21-image-logo.png" alt="logo-rec21">
        </div>
        <div class="advice-02-card">
            <h3>REC21 Conseil N°2 :</h3>
            <p>Définir un plan d'actions adapté et opérationnel.</p>
        </div>
    </div>

    <div class="table-logos txt-center">
        <h3 class="font-lighter space-letter txt-center">Ce que nous ferons avec vous pour développer votre marque :</h3>
        <div id="hr-padding">
            <hr>   
        </div>
        <div class="table-logos-cards">
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/etude_de_marche.png" alt="">
                <p>Mettre en place <br> une étude de marché <br> concurrentielle</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/strategie.png" alt="">
                <p>Définir la stratégie,<br> le positionnement et <br> l'ADN de votre marque</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/programme_musicale.png" alt="">
                <p>Expertiser votre base <br> musicale et mettre en place <br>des horloges fonctionnelles</p>
            </div>
        </div>
        <div class="table-logos-cards">
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/expertiser.png" alt="">
                <p>Concevoir des programmes <br>et des contenus performants <br>pour votre cible</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/univers.png" alt="">
                <p>Créer des univers <br>dédiés et sur mesure <br>(CHR, AC, Mainstream, BtoB, Event)</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/canaux_de_diffusions.png" alt="">
                <p>Enrichir votre offre sur <br> l'ensemble des canaux <br>de diffusions</p>
            </div>
        </div>
        <div class="table-logos-cards">
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/editoriale.png" alt="">
                <p>Concevoir le marketing <br>et la communication <br>"On air et Off air"</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/communication.png" alt="">
                <p>Mettre en place <br>une direction artistique <br>et éditoriale</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/animateurs.png" alt="">
                <p>Coacher vos animateurs, journalistes, producteurs, programmateurs et responsables</p>
            </div>
        </div>
        <div class="table-logos-cards">
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/recommander.png" alt="">
                <p>Renforcer et optimiser <br>l'organisation de votre équipe : <br>Former, Accompagner, Recruter</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/optimiser.png" alt="">
                <p>Recommander de <br>nouvelles solutions : <br>Studio, Programmation, Diffusion</p>
            </div>
            <div class="table-logos-card">
                <img class="icon-width" src="/static/images/icons/resultats.png" alt="">
                <p>Étudier, analyser<br> et suivre les résultats <br>de votre marque</p>
            </div>
        </div>
        <p class="red-color space-letter padding"><strong>Et plus encore, parlons-en !</strong></p>
    </div>
    <div class="advice-03 white-color">
        <div class="advice-01-card">
            <img src="/static/images/rec21-image-logo.png" alt="logo-rec21">
        </div>
        <div class="advice-02-card">
            <h3>REC21 Conseil N°3 :</h3>
            <p>Restez passionné et prenez du plaisir !</p>
        </div>
    </div>
{% endblock %}
