{% extends 'layout/default.html'%}
{% block title %} Radio - {{ super() }}{% endblock %}

{% block body %}
  <div class="page-title">
    <h1>Radio</h1>
  </div>
  <div class="radio-content font-lighter">
    <p class="padding-10">
      L’agence REC21 vous offre sa vision à travers la connaissance du marché
      et de l’éco système des radios d’aujourd’hui…de demain.
    </p>
    <div class="flashbox flashbox-radio">
      <p>
        Vous êtes une radio locale, régionale, nationale ou digitale.<br>
        Vous voulez le regard objectif d’un professionnel et une relation de confiance.<br>
        Vous souhaitez être accompagné avec des propositions opérationnelles et efficaces.<br>
      </p>
    </div>
    <p class="margin-top-30 margin-bottom-negatif padding-left-right-10">
      Le 1er conseil REC21 : l’écoute, l’échange et l’analyse.<br>
      Rencontrons-nous pour :
    </p>
    <ul>
      <li>Recueillir vos besoins et vos envies</li>
      <li>Echanger avec votre direction et vos équipes</li>
      <li>Réaliser rapidement une expertise de vos programmes</li>
      <li>Analyser vos audiences et votre positionnement stratégique</li>
    </ul>
    <p class="padding-left-right-10 ">
      L’agence REC21 vous propose une analyse factuelle « forces, faiblesses, opportunités et menaces » avec des solutions
      concrètes.
      Le 2ème conseil REC21 : définir un plan d’actions adapté et opérationnel.
      Ce que nous ferons avec vous pour développer votre marque :
    </p>
    <ul>
      <li>Mettre en place une étude de marché concurrentielle </li>
      <li>Définir la stratégie, le positionnement et l’ADN de votre marque </li>
      <li>Concevoir des programmes et des contenus performants pour votre cible</li>
      <li>Expertiser votre base musicale et mettre en place des horloges fonctionnelles</li>
      <li>Créer des univers dédiés et sur mesure (CHR, AC, Mainstream, BtoB, Evènementiel)</li>
      <li>Enrichir votre offre sur l’ensemble des canaux de diffusion (hertzien, DAB+, digital)</li>
      <li>Mettre en place avec cohérence une direction artistique et éditoriale</li>
      <li>Concevoir le marketing et la communication « on air & off air »</li>
      <li>
        Coacher, encourager et renforcer les compétences de vos animateurs, journalistes,
        producteurs, programmateurs et responsables
      </li>
      <li>Renforcer et optimiser l’organisation de votre équipe : former, accompagner, recruter</li>
      <li>Recommander de nouvelles solutions : studio, programmation, diffusion… grâce à un réseau d’experts reconnus</li>
      <li>Organiser des études qualitatives</li>
      <li>Analyser et suivre les résultats de votre marque…</li>
    </ul>
    <p class="padding-left-right-10">
      Et encore +,
      c’est vous qui choisissez !
    </p>
    <p class="margin-bottom-negatif padding-left-right-10">
      Le 3ème conseil REC21 : restez passionné et prenez du plaisir !
    </p>
  </div>
{% endblock %}
