/* HEADER */

.agency-header {
    padding-top: 50px;
    background: url('../images/backgrounds/fond_rec21_agence.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
}
.agency-header-content {
    width: 850px;
    margin: 0 auto;
    padding-top: 6vh;
    text-align: right;
}
.agency-content {
    text-align: right;
    padding-top: 70px;
    padding-bottom: 85px;
    /*padding-right: 120px;*/
}
.agency-content img {
    width: 120px;
}
.agency-content h2 {
    font-size: 50px;
    margin: 0;
}
.agency-content hr {
    height: 4px;
    border-radius: 10px;
    background-color: black;
    margin-right: 0px;
    width: 80px;
}
.agency-content p {
    letter-spacing: 2px;
}

.agency-btn a {
    border: 2px solid black;
    padding: 5px 60px 5px 60px;
}
.agency-btn a:hover {
    border: 2px solid RGBA(42, 61, 119, 1.00);
}

/* SKILLS */
.agency-skills {
    background-color: white;
    padding: 60px;
}
.agency-skills p {
    font-weight: normal;
    font-size: 13px;
}

.agency-skills-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.agency-skills-card-content {
    width: 500px;
    margin: 36px;
}
.agency-skills-card-content-title {
    display: flex;
    justify-content: start;
    align-items: center;
}
.agency-skills-card-content-img {
    width: 30%;
}
.agency-skills-card-content-img-2 {
    width: 30%;
    display: block;
}
.agency-skills-card-content-title h3 {
    padding-left: 20px;
}

/* EXPERTISE */
.expertise {
    background: url('../images/backgrounds/nosexpertises.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 25px 0px 50px 0px;
    letter-spacing: 1px;
}
.expertise h3 {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
}
.expertise p {
    margin-top: 0;
}
.expertise-hashtags-p {
    font-size: 23px;
}
.expertise-endline {
    padding-top: 45px;
    letter-spacing: 2px;
}

/* DEVISE */
.devise {
    color: black;
    background: url('../images/backgrounds/fond_rec21_agence_2.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 25px 0px 60px 0px;
    letter-spacing: 1px;
}
.devise img {

}

/* WHOS  */
.agency-whos {
    background-color: white;
}
.agency-whos-content {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0px;
}
.agency-whos-content h3 {
    font-size: 20px;
    margin-bottom: -20px;
}
.agency-whos-content h4 {
    font-weight: lighter;
    letter-spacing: 2px;
}
.agency-whos-content hr {
    height: 4px;
    border-radius: 10px;
    background-color: black;
    margin: 0px auto;
    width: 80px;
}
.agency-whos-content-width {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.agency-whos-content-width p {
    letter-spacing: 1px;
    font-size: 12px;
}

.agency-whos-quote {
    display: flex;
    justify-content: center;
    align-items: center;
}
.agency-whos-content-h2 {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 40px;
}
#quote-margin {
    margin-bottom: 0px;
}

/* EXPERIENCE */
.experience {
    background: url('../images/backgrounds/aveclagence.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 25px;
}
/* PRESENTATION  */
.agence-presentation {
    background-color: white;
}
.agence-presentation-img01 {
    background: url('../images/backgrounds/projetb.jpg') no-repeat center center;
    background-size: cover;
}
.agence-presentation-img02 {
    background: url('../images/backgrounds/projetc.jpg') no-repeat center center;
    background-size: cover;
}
.agence-presentation-img03 {
    background: url('../images/backgrounds/projetd.jpg') no-repeat center center;
    background-size: cover;
}

/* WORK TOGETHER */ 
.agence-work-together {
    padding: 60px;
    background: url('../images/backgrounds/fond_rec21_agence.jpg') no-repeat center center fixed;
    background-size: cover;
}
.agence-work-together p {
    padding-bottom: 20px;
}
.agence-work-together h3 {
    font-size: 22px;
}


/* MOBILE  */
@media (max-width: 800px) {
    .agency-header {
        background: url('../images/backgrounds/fond_rec21_agence_mobile.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    .devise {
        background-size: cover;
        background: url('../images/backgrounds/fond_rec21_agence_mobile.jpg') no-repeat center center fixed;
    }
    .agence-work-together {
        background-size: cover;
        background: url('../images/backgrounds/fond_rec21_agence_mobile.jpg') no-repeat center center fixed;
    }
    .agency-header-content{
        width: 300px;
    }
    .agency-content {
        padding-right: 0px;
    }
    .agency-skills {
        padding: 0px;
    }
    .agency-skills-card {
        display: block;
    }
    .agency-skills-card-content {
        width: 320px;
    }
    .agency-skills-card-content-img {
        display: none;
    }
    .agency-skills-card-content-img-2 {
        width: 100%;
    }
    .agency-whos-content {
        width: 100%;
    }
    .agency-whos-content-width {
        width: 90%;
        text-align: justify;
    }
    .agency-whos-quote {
        display: block;
    }
    .agency-whos-content-h2 {
        padding: 0;
    }
    .work-together {
        padding: 20px;
    }
}
