.headline-footer {
  color: black;
}

.footer-content {
  text-align: center;
  background-color: black;
}
.footer-content a {
  color: white;
}
.footer-text h2 {
  padding-top: 20px;
}

.footer-text p {
  padding: 0px 15px 15px 15px;
}

#btn-footer {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
}

.footer-network-logo {
  margin-left: -20px;
}

.footer-network-logo i {
  font-size: 25px;
  padding-left: 20px;
}

.copyright {
  color: grey;
  font-weight: lighter;
  font-size: 7px;
}
