/* HEADER */

.wrapper-header {
  height: 100vh;
  background: url('../images/backgrounds/fond_rec21_accueil.jpg') no-repeat center center fixed;
  background-size: cover;
}

.header-content {
  width: 850px;
  margin: 0 auto;
  padding-top: 15vh;
  text-align: right;
}

.header-content-image-logo img {
  width: 120px;
  padding-bottom: 10px;
}

.header-content-title h1 {
  font-size: 3em;
  margin-bottom: 5px;
  margin: 0;
}

.header-content-title hr {
  display: block;
  height: 4px;
  border: 0;
  background-color: black;
  border-radius: 10px;
  margin-left: 92%;
}

.header-content-title h2 {
  font-weight: lighter;
}

.header-content-btn {
  margin-top: 120px;
}
.header-content-btn a {
  border: 3px solid black;
  color: black;
  padding: 3px 60px;
}

.header-content-btn a:hover {
  border: 3px solid rgb(255, 51, 51);
}

.header-scrollbar {
  text-align: center;
  margin: -60px 0px 60px 0px
}

.header-scrollbar i {
  color: white;
  font-size: 50px;
}

/* AGENCY */

.agency {
    background-color: white;
    text-align: center;
    padding: 30px 0px;
}

.agency p {
    letter-spacing: 2px;
}

.agency-image-logo {
  margin-bottom: -20px;
}
.agency-image-logo img {
  width: 70px;
}

.agency-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
}

.agency-solo-card {
  padding: 30px 50px;
 /* width: 480px;*/
}

/* HASHTAGS */

.hashtags {
  background: url('../images/backgrounds/fond_rec21_accueil.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 30px;
}

.hashtags p {
  color: black;
  font-size: 20px;
  font-weight:lighter;
}

/* FLASH */

.flash {
    background: url('../images/backgrounds/a_la_une_rec21.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

.flash {
  padding: 30px 0px 50px 0px;
}

.flash h2 {
  font-size: 2em;
  margin: 0;
  letter-spacing: 2px;
}

.flash p {
  margin: 5px;
  color: black;
}

.flash span {
    letter-spacing: 1px;
    padding: 1px 10px;
    line-height: 2em;
    background-color: white;
}

.flash-btn {
  margin-top: 30px;
}

.flash-btn a {
  color: white;
  border: 2px solid white;
  padding: 4px 30px;
}

.flash-btn a:hover {
  border: 3px solid rgb(255, 51, 51);
}

/* PRESENTATION */
.presentation-background {
  background: url('../images/backgrounds/fond_rec21_accueil.jpg') no-repeat center center fixed;
  background-size: cover;
}

.presentation {
  text-align: center;
  padding: 40px 40px 80px 40px;
}

.presentation h3 {
  font-weight: normal;
}

.presentation hr {
  display: block;
  margin: 30px auto;
  height: 4px;
  width: 80px;
  border: none;
  background-color: rgb(255, 51, 51);
  border-radius: 10px;
}

.presentation-cards {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentation-solo-card {
    webkit-box-shadow: 1px 1px 13px -3px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 1px 13px -3px rgba(0,0,0,0.10);
    box-shadow: 1px 1px 13px -3px rgba(0,0,0,0.10);
    padding: 40px;
    background-color: rgba(247, 251, 254, 0.7)
}

.presentation-solo-card p {
  width: 200px;
}

/* PARTNERS */

.partners {
  background-color: black;
  color: white;
  padding: 60px;
}

.partners h2 {
  font-size: 20px;
}
.partners img {
    padding-top: 20px;
}

/* CITATION */

.citation {
  background: url('../images/backgrounds/fond_rec21_accueil.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 30px;
}

.citation h2 {
  font-size: 20px;
}
#quote-size {
  font-size: 25px;
}

/* WORK TOGETHER */
.work-together {
    background-color: white;
    padding: 40px;
}

.work-together h3 {
    font-size: 22px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.work-together p {
  padding-bottom: 20px;
}
.work-together-endline {
    font-size: 18px;
    letter-spacing: 2px;
}

@media (max-width: 800px) {
    .wrapper-header {
        background: url('../images/backgrounds/fond_rec21_accueil_mobile.jpg') repeat 0 0;
        background-color: RGBA(247, 251, 254, 1.00);
    }
    .hashtags {
        background: url('../images/backgrounds/fond_rec21_accueil_mobile.jpg') repeat 0 0;
        background-color: RGBA(247, 251, 254, 1.00);
    }
    .presentation-background {
        background: url('../images/backgrounds/fond_rec21_accueil_mobile.jpg') repeat 0 0;
        background-color: RGBA(247, 251, 254, 1.00);
    }
    .citation {
        background-color: RGBA(247, 251, 254, 1.00);
        background: url('../images/backgrounds/fond_rec21_accueil_mobile.jpg') repeat 0 0;
    }
    .header-content {
        width: 278px;
        margin: 0 auto;
        padding-top: 25vh;
        text-align: right;
        font-size: 12px;
    }
    .header-content-btn {
        margin-top: 40px;
    }

    .agency-cards {
        display: block;
    }
    .agency-solo-card p {
        width: auto;
    }

    .flash {
        font-size: 13px;
    }

    .presentation-cards {
        display: block;
    }
    .presentation-solo-card {
        margin-bottom: 30px;
    }
    .presentation-solo-card p {
        margin: 0 auto;
    }
    .partners img {
        width:100%;
    }
}
