.mentions-wrapper {
    padding: 100px;
    padding-top: 170px;
    padding-bottom: 190px;
}


@media (max-width: 800px) {
    .mentions-wrapper {
        padding: 15px;
        padding-top: 80px;
        height:100vh;
    }
}
