.navbar {
  /* fixed navbar */
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 10px 0px;

  /* display div inside */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 0.2px;
  border-bottom-style: ridge;
}

.navbar-logo img {
  width: 170px;
}

.navbar-menu li {
  padding-right: 40px;
}

@media (min-width: 800px) {

}
