.navbar-logo {
  border: 1px solid red;
  transition: 0.3s;
  z-index: 12;
}

.navbar-logo img {
  width: 8%;
}

.navbar-logo a {
  color: black;
}
.navbar-logo a:hover {
  color: black;
}

.navbar-menu {
  border: 1px solid yellowgreen;
  font-size: 0.6em;
}

.navbar-menu ul li a {
  color: darkgrey;
  font-weight: lighter;
}
.navbar-menu ul li a:hover {
  color: red;
}

.navbar-btn {
  display: none;
}

.contact-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
}
.contact-btn a {
  color: white;
}
.contact-btn a:hover {
  color: white;
}

@media (min-width: 800px) {
  .navbar-btn {
    border: 1px solid yellow;
    display: block;
  }
}
