/* RADIO HEADER */
.radio-header {
    background: url('../images/backgrounds/fond_rec21_radio.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 70vh;
}
.radio-header-content {
    width: 850px;
    margin: 0 auto;
    padding-top: 8vh;
    text-align: right;
}
.radio-content {
    text-align: right;
    padding-top: 70px;
    padding-bottom: 85px;
    /*padding-right: 120px;*/
}
.radio-content img {
    width: 120px;
}
.radio-content h2 {
    font-size: 50px;
    margin: 0;
}
.radio-content hr {
    height: 4px;
    border-radius: 10px;
    background-color: black;
    margin-right: 0px;
    width: 80px;
}
.radio-content h3 {
    letter-spacing: 2px;
}
.radio-content p {
    letter-spacing: 2px;
    padding: 10px;
}

/* ecosystème  */


.ecosysteme {
    padding: 60px 0px 90px 0px;
    background-color: white;
}
.ecosysteme span{
    letter-spacing: 1px;
    background-color: RGBA(87, 206, 186, 1.00);
    padding: 1px 10px;
    line-height: 2em;
}
.ecosysteme p {
    margin-bottom: -15px;
}

/* ADVICE 01  */
.advice-01-header {
    background: url('../images/backgrounds/conseil1.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px;
}
.advice-01 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.advice-01-card {
    font-size: 20px;
}
.advice-01-card img {
    width: 90px;
    padding-right: 10px;
    padding-top:10px;
}
.advice-01-card h3 {
   margin: 0; 
}
.advice-01-card p {
   margin: 0; 
}

/* ANALYSE */
.analyse {
    padding: 60px 0px 90px 0px;
    background-color: RGBA(87, 206, 186, 1.00);
}
.analyse span{
    letter-spacing: 1px;
    background-color: white;
    padding: 1px 10px;
    line-height: 2em;
}
.analyse p {
    margin-bottom: -15px;
}

/* MEET */
.meet {
    background-color: white;
    padding: 15px 0px 80px 0px;
}

.meet hr {
  display: block;
  margin: 10px auto;
  height: 4px;
  width: 80px;
  border: none;
  background-color: rgb(255, 51, 51);
  border-radius: 10px;
}

.meet-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.meet-card {
    padding-left: 40px;
    padding-right: 40px;
}
.meet-card h4 {
    margin-bottom: 0;
}
.meet-card p {
    margin-top: 5px;
}

/* ADVICE 0Z  */
.advice-02-card {
    font-size: 20px;
}

.advice-02-header {
    background: url('../images/backgrounds/conseil2.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px;
}
.advice-02 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.advice-02-card img {
    width: 90px;
    padding-right: 10px;
    padding-top:10px;
}
.advice-02-card h3 {
   margin: 0; 
}
.advice-02-card p {
   margin: 0; 
}

/* TABLE LOGOS  */

.table-logos {
    background-color: white;
    padding: 40px;
}
#hr-padding {
    padding-top: 20px;
}
#hr-padding hr {
  display: block;
  margin: 10px auto;
  height: 4px;
  width: 80px;
  border: none;
  background-color: rgb(255, 51, 51);
  border-radius: 10px;
}
.table-logos-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.table-logos-card {
    padding: 20px; 
    width: 320px;
}

/* ADVICE 03 */
.advice-03-header {
    background: url('../images/backgrounds/conseil3.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px;
}
.advice-03-card {
    font-size: 20px;
}
.advice-03 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .radio-header-content {
        padding-top: 18vh;
    }
    .radio-header {
        height: 80vh;
    }
    .radio-header-content {
        width: 300px;
    }
    .radio-content {
        padding-top: 0;
        padding-right: 0;
    }
    .radio-content h3 {
        font-size: 13px;
    }
    .radio-content p {
        font-size: 11px;
        margin: 0;
    }
    .meet-cards {
        display: block;
    }
    .table-logos {
        padding: 10px;
    }
    .table-logos-card {
        width: 100%;
    }
    .table-logos-cards {
        display: block;
    }
}
