.inline {
  padding-inline-start: 0px;
}
.inline li {
  display: inline-block;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.font-lighter {
  font-weight: 100;
}

.center-img img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.red-color {
  color: rgb(255, 51, 51);
}

.black-color {
    color: black;
}
.white-color {
    color: white;
}
.non-visible {
  opacity: 0;
}

.space-letter {
    letter-spacing: 1px;
}

.margin-0 {
    margin: 0;
}
.padding {
    padding: 20px;
}
.display-none {
    display: none;
}
.icon-width {
    width: 60px;
}
