.inline {
  padding-inline-start: 0px;
}
.inline li {
  display: inline-block;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.font-lighter {
  font-weight: 100;
}

.center-img img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.red-color {
  color: rgb(255, 51, 51);
}

.non-visible {
  opacity: 0;
}
