<div class="headline-footer">
  <p><em>La passion est une force, l’agence REC21 : Regarder, Ecouter et Créer !</em></p>
</div>
<div class="footer-content">
  <div class="footer-text">
    <h2>Travaillons ensemble !</h2>
    <p>Consulting média & radio, conception de stratégie, création d’identité et de marque, développement digital,
    communication, marketing… l’agence <span class='txt-red'>REC21</span> vous conseille pour la réussite de votre projet.</p>
  </div>
  <div class="footer-btn">
    <a href="{{url_for('contact')}}">
      <div class="btn" id="btn-footer">Contact</div>
    </a>
  </div>
  <div class="footer-network-logo">
    <ul class="inline">
      <li><a href="/"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="/"><i class="fab fa-twitter"></i></a></li>
      <li><a href="/"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>
      © 2018 All rights reserved. – Designed & Coded by
      <a href="http://www.francoisrabanel.fr" target="_blank">François Rabanel</a>
    </p>
  </div>
</div>
