<div class="footer-content-size">
  <div class="status-online">
    <img src="/static/images/online.png" alt="actuellement en ligne">
    <p><strong>Disponibilité</strong> :  On Air ! </p>
  </div>
  <div class="footer-btn">
    <a href="mailto:contact@rec21.fr">contact@rec21.fr</a>
  </div>
  <div class="footer-network-logo">
    <ul class="footer-network-inline inline">
      <li>
	      <a href="https://www.linkedin.com/company/rec21" target="_blank">
		      <i class="fab fa-linkedin"></i>
	      </a>
      </li>
      <li>
	      <a href="https://twitter.com/agence_rec21" target="_blank">
		      <i class="fab fa-twitter"></i>
	      </a>
      </li>
      <li>
	      <a href="https://www.instagram.com/agence_rec21/" target="_blank">
		      <i class="fab fa-instagram"></i>
	      </a>
      </li>
    </ul>
  </div>
</div>
<div class="copyright">
  <p>
    © 2019 Tous droits réservés 
    – <a href="{{url_for('mentions')}}"> mentions légales</a>
    - réalisé par <a href="http://www.francoisrabanel.fr" target="_blank">François Rabanel</a>
  </p>
</div>
