<div class="footer-content-size">
  <div class="status-online">
    <img src="/static/images/online.png" alt="actuellement en ligne">
    <p><strong>Disponibilité</strong> :  On Air ! </p>
  </div>
  <div class="footer-btn">
    <a href="{{url_for('contact')}}">contact@rec21.fr</a>
  </div>
  <div class="footer-network-logo">
    <ul class="footer-network-inline inline">
      <li><a href="https://www.linkedin.com/in/claude-eric-roy/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/ClaudeEricRoy" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="/"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</div>
<div class="copyright">
  <p>
    © 2018 Tout droits réservé 
    – <a href="{{url_for('mentions')}}"> mentions légales</a>
    - réalisé par <a href="http://www.francoisrabanel.fr" target="_blank">François Rabanel</a>
  </p>
</div>
