<div class="nav-header">
  <div class="nav-title">
    <a href="/"><img src="static/images/Logo_rec21.png" alt="REC21"></a>
  </div>
</div>
<div class="nav-btn">
  <label for="nav-check">
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>
<input type="checkbox" id="nav-check">
<div class="nav-links">
  <a href="{{url_for('index')}}"> HOME </a>
  <a href="{{url_for('agence')}}"> AGENCE </a>
  <a href="{{url_for('radio')}}"> RADIO </a>
  <a href="{{url_for('contact')}}"> CONTACT </a>
</div>
