<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <title> {% block title %} REC21 {% endblock %} </title>
    <meta name="description" content="L'agence rec21 crée avec vous une identité sur mesure !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Open Graph-->
    <meta property="og:url" content="http://www.rec21.fr" />
    <meta property=”og:locale” content=”fr_FR” />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Rec21.fr - Agence conseil media" />
    <meta property="og:description" content="L'agence rec21 crée avec vous une identité sur mesure !" />
    <meta property="og:image" content="http://rec21.fr/static/images/REC21_GRADIENTnotagline.png" />
    
    <!--Stylesheet-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:700,400" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/app.css') }}">
    <link rel='icon' href='static/images/favicon.ico' type='image/x-icon'/ >
  </head>
  <body>
    <div class="nav">
      {% include 'layout/shared/_navbar.html' %}
    </div>
    <section class="body">
      {% block body %} {% endblock %}
    </section>
    <footer class="footer">
      {% include 'layout/shared/_footer.html' %}
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
