<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:700" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/app.css') }}">
    <title> {% block title %} REC21 {% endblock %} </title>
  </head>
  <body>
    <header class="header">
      {% include 'layout/shared/_navbar.html' %}
    </header>
    <section>
      {% block body %} {% endblock %}
    </section>
    <footer>
      {% include 'layout/shared/_footer.html' %}
    </footer>
  </body>
</html>
